*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f3ef;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #999;
}
a{
    text-decoration-line: none;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clearfix:after {
    content: " ";
    display: block;
    visibility:hidden;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul{list-style:none;}

.top{
    background-color: #a9a9a926;
    border-bottom: 1px solid #dddddd;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #999;
}
.top1{
    height:30px;
    line-height: 30px;
    width: 1190px;
    margin: auto;
    position: relative;
}
.location{
    margin-left: 200px;
}
.location1{
    padding-right: 5px;
}
.location1:hover{
    cursor:pointer;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.link-login li{
    float:left;
}
.link-login li a{
    color: #999;
}
.link-login li a:hover{
    color:red;
}
.division{
    margin: 9px;
    overflow: hidden;
    border: 1px solid #ccc;
    height:10px;
}
.top2{
    width:1190px;
    margin:auto;
    position:relative;
}
.logo{
    position: absolute;
    top:-32px;
}
.logo a{
    display:flex;
}
.logo a img{
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 -7px 18px #CCF;
    width: 190px;
    height: 170px;
}
.link-search{
    text-align: center;
    margin-left: 303px;
}
.link-search input{
    width:500px;
    height:35px;
    margin-top: 30px;
    border: 0;
}
.link-search button{
    background-color: red;
    height: 35px;
    border: 0;
    width: 58px;
    font-size: 16px;
    color: white;
    margin-left: -5px
}
.shopping-cart{
    background-color: white;
    width: 200px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 30px 30px 0 0;
}
.shopping-cart a{
    color: red;
}
.ewm{
    width:66px;
    height:66px;
    border: 1px solid dimgrey;
}
.ewm img{
    border: 2px solid #ccc;
    width: -webkit-fill-available;
}
.link-search .link-login{
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
.link-search .link-login li{
    margin-left:8px;
}
.list-three{
    margin: 35px 0 0 210px;
}
.list-three li{
    margin-left:15px;
}
.list-three li a{
    font-size: 15px;
    color: #000;
}
.division2{
    margin: 4px 0 0 15px;
    height: 12px;
    border: 1px solid #ccc;
}
.location2{
    position: absolute;
    left: 200px;
    width: 300px;
    top: 31px;
    background-color: white;
    z-index: 10;
    padding: 10px;
    border:1px solid #999999;
    border-top: hidden;
}
.location2-one{
    border-bottom: 1px solid #f0f3ef;
    padding-bottom: 15px;
}
.location2-one li{
    float:left;
    margin-left: 19px;
    padding:0 6px 0 6px;
}
.location2-one li:hover{
    color:red;
    cursor:pointer;
    background-color:gainsboro;
}
.location2-two{
    padding:15px 0;
}
.location2-two div{
    padding-left: 80px;
}
.location2-two div:hover{
    color: red;
}
.location3{
    width: 240px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: 750px;
    z-index: 10;
    border: 1px solid whitesmoke;
    display: none;
}
.location3-one{
    border-bottom: 1px solid #edf1eb;
}
.loo{
    margin: 15px 30px 10px 25px;
}
.loo ul li:hover{
    color:red;
    cursor: pointer;
}
.location4{
    left: 898px;
    width: 228px;
}
.location5{
    left: 780px;
}
.location6{
    left:0;
    width:1160px;
}
.qq{
    border-bottom: none;
    border-right:1px solid #edf1eb;
}

.top2-link2{
    padding:10px 0 0 0;
    width: 188px;
    height: 512px;
    border: 1px solid #edf1eb;
    border-top: none;
    background-color: white;
    font-size: 14px;
    color: #626262;
}
.link-commodity-detail{
    background-color: white;
    width: 850px;
    position: absolute;
    left: 190px;
    top:140px;
    z-index: 12;
    width: 1000px;
    height: 482px;
    padding: 20px;
    display: none;
}
.link-commodity li{
    padding: 4px 0 4px 21px;
}
.link-commodity li p:hover{
    cursor: pointer;
    color: #c81623;
    background-color: #cccccc;
}
/**/
.l1:hover>.lc1{
    display: block;
}
.l2:hover>.lc2{
    display: block;
}
.l3:hover>.lc3{
    display: block;
}
.l4:hover>.lc4{
    display: block;
}
.l5:hover>.lc5{
    display: block;
}
.l6:hover>.lc6{
    display: block;
}
.l7:hover>.lc7{
    display: block;
}
.l8:hover>.lc8{
    display: block;
}
.l9:hover>.lc9{
    display: block;
}
.l10:hover>.lc10{
    display: block;
}
.l11:hover>.lc11{
    display: block;
}
.l12:hover>.lc12{
    display: block;
}
.l13:hover>.lc13{
    display: block;
}
.l14:hover>.lc14{
    display: block;
}
.l15:hover>.lc15{
    display: block;
}
.l16:hover>.lc16{
    display: block;
}
.l17:hover>.lc17{
    display: block;
}
/**/
.link-commodity-detail ul li{
    float: left;
}
.link-commodity-detail ul li:hover{
    float: left;
    color: #b61d1d;
    cursor: pointer;
}
.link-commodity-detail ul{
    padding: 5px 0;
    font-size: 12px;
}
.jydq{
    margin-bottom: 15px;
}
.jydq dt{
    background-color: #333333;
    color: white;
    margin-left: 20px;
    float: left;
    padding: 0 0 0 14px;
}
.jydq dt:hover{
    background-color: #666666;
    color: white;
    cursor: pointer;
}

/**/

.lbt1{
    width: 590px;
    padding: 20px 0 0 10px;
}
.lbt1 .flexslider .slides li img{
    height: 500px;
}
.flexslider{
    margin: 0;
    border: 0;
}
.flex-control-nav{
    bottom: 0;
    z-index: 11;
}
.flex-control-nav li a{
    background: white;
}
.flex-direction-nav .flex-prev {
    left:0;
}
.flex-direction-nav .flex-next {
    right: 0;
}
.santu{
    margin: 20px 10px 0 10px;
    width: 190px;
}
.santu img{
    margin-top: 5px;
    height: 161px;
    width: 191px;
}
.login{
    background-color: white;
    width: 170px;
    margin-top: 20px;
    height: 479px;
    text-align: center;
    font-size: 12px;
    padding: 0 10px 20px;
    font-family: 'Microsoft Yahei';
}
.login-img{
    border-radius: 20px;
    box-shadow: 6px 5px 22px grey;
}
.login-1 a{
    color: #666;
}
.login-1 a:hover{
    color: red;
}
.login-2{
    padding:12px;
}
.login-2 span{
    padding: 5px;
    box-shadow: 5px 6px 12px #999;
    border-radius: 12px;
    margin: 0 5px;
}
.login-2 span:hover{
    background-color: red;
    color:white;
    transition: all 0.5s;
    cursor: pointer;
}
.login-2-1{
    color:red;
}
.login-2-2{
    color:yellowgreen;
    background-color: black;
}
.login-3{
    padding: 22px 0 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}
.login-3-1{
    color: #666666;
    padding: 10px 0 2px;
}
.login-3-1 span:hover{
    cursor: pointer;
}
.huadong{
    height: 4px;
    background-color: red;
}
.gg{
    padding-left: 10px;
    font-size: 13px;
}
.cx{
    padding-right: 10px;
    font-size: 13px;
}
.cx-msg li{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0 1px;
    text-align: left;
    color: #666;
}
.cx-msg li:hover{
    color: #ff431a;
    cursor:pointer;
}
.gg-msg{
    display: none;
}
.login-4{
    background-image: url(../img/5.jpg);
    height: 162px;
    width: 164px;
    display: none;
}
.login-4 li{
    width: 39px;
    height: 54px;
    float: left;
    border: 1px solid white;
}
.login-4 li:hover{
    border: 1px solid #ff655b;
    cursor:pointer;
}
.login-5{
    color: #666666;
}
.login-5-1 li{
    float:left;
    font-size: 13px;
    color: #666666;
    padding: 10px 7px 3px;
    margin-bottom: 8px;
    border-bottom: 2px solid white;
}
.login-5-1   li:hover{
    border-bottom: 2px solid red;
    color:red;
    cursor: pointer;
}
.x{
    position: absolute;
    top: 631px;
    right: 12px;
    width: 20px;
}
.x:hover{
    color:red;
    background-color:#cccccc;
    cursor: pointer;
}
.huafei{
    margin-bottom: 7px;
}
.huafei li{
    float: left;
    padding: 0 4px;
}
.huafei li:hover{
    color:red;
    cursor: pointer;
}
.hfcz li{
    text-align: left;
    padding-top: 4px;
}
.hfcz input{
    width: 126px;
    margin-left: 8px;
}
.hfcz select{
    width: 130px;
    margin-left: 8px;
}
.hfcz li:nth-child(3){
    color: red;
}
.hfcz li:nth-child(4){
    background-color: red;
    color: white;
    border-radius: 25px;
    width: 50px;
    padding: 0 5px;
    margin-left: 5px;
}
.hfcz li:nth-child(4):hover{
    cursor: pointer;
}
.hfcz li:nth-child(5){
    color: blue;
}
.hfcz li:nth-child(5):hover{
    cursor: pointer;
    color: red;
}
.login-5-3{
    display:none;
}
.top-one{
    margin-bottom: 40px;
}
/*中部内容*/
.nr{
    width: 1190px;
    margin: auto;
}
/*京东秒杀*/
.jdms div{
    width: 178px;
    height: 275px;
    float: left;
    border-right: 1px solid #999999;
    padding: 10px;
    text-align: center;
}
.jdms1{
    background: #e83632;
    color: white;
}
.jdms1 h1{
    margin-top: 20px;
}
.jdms1 h2{
    margin-top: 8px;
}
.jdms1 h3{
    margin-top: 8px;
}
.jdms1 img{
    margin-top: 8px;
}
.jdms-time{
    margin-top: 10px;
}
.jdms-time dt{
    float: left;
    font-size: 20px;
    width: 45px;
    height: 60px;
    line-height: 60px;
    margin-right: 2px;
    background-color: black;
    text-decoration:line-through ;
    text-decoration-color: red;
}
.jdms-time p{
    float: left;
    margin-top: 20px;
}
.sp1{
    background-color: white;
}
.sp1 h5{
    margin-top: 30px;
}
.sp1 img{
    padding-top: 25px;
}
.pccost{
    width: 131px;
    margin: 20px auto 0;
}
.pccost li{
    float: left;
    border: 1px solid red;
    text-align: center;
    font-size: 14px;
    padding: 2px 7px;
}
.pccost li:nth-child(1){
    background-color: red;
    color: white;
}
.pccost li:nth-child(2){
    color: #999999;
    text-decoration: line-through;
    text-decoration-color: #999;
}
.jdms .flexslider-one{
    width: 797px;
    padding: 0;
    border: none;
    height: 295px;
}
.jdms .flexslider .slides img{
    width: 144px;
    display: inline;;
}
.flexslider-one ol{
    display: none;
}
.jdms .flexslider-two{
    padding: 0;
    border: none;
    height: 295px;
}
.flexslider-two{
    margin-left: 16px;
    width: 178px;
}

.flexslider-two .flex-direction-nav{
    display: none;
}
.flexslider-two .slides li div{
    padding: 0;
    margin: 10px;
    background-color: #9999994d;
    width: 156px;
}
.jdms{
    margin-bottom: 30px;
}
/*脚部内容*/
footer{
    color: #666;
}
.foot-one{
    border-top: 1px solid #999;
}
.foot-1{
    border-bottom:1px solid #999;
    width: 1190px;
    margin: auto;
    padding: 30px 0;
}
.foot-1 ul li{
    padding: 2px;
}
.foot-1 ul li:hover{
    color: #e33333;
    cursor: pointer;
}
.foot-one h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.foot-1-1{
    margin-left: 140px;
}
.foot-1-2{
    background-image: url(../img/1.png);
    width: 200px;
    height: 155px;
    float: right;
    text-align: center;
}
.foot-1-2 p{
    margin-top: 20px;
}
.foot-1-2 span:hover{
    color: #e33333;
    cursor: pointer;
}
.foot-two{
    width: 1060px;
    margin: auto;
    color: #666666;
}
.foot-two li{
    float: left;
    padding: 10px 5px;
}
.foot-two li:hover{
    color:#e33333;
    cursor: pointer;
}
.foot-three{
    color: #999999;
    width: 810px;
    margin: auto;
}
.foot-three li{
    float: left;
    padding: 5px;
}
.foot-four{
    width: 220px;
}
.foot-four li:nth-child(2):hover{
    color: #e33333;
    cursor: pointer;
}
.foot-four li:nth-child(4):hover{
    color: #e33333;
    cursor: pointer;
}
.foot-five{
    width: 880px;
}
.foot-six{
    width: 480px;
}
.foot-seven{
    width: 400px;
}
.foot-eight{
    width: 800px;
    margin: auto;
}
.foot-eight li{
    float: left;
}
.foot-eight li:hover{
    color: #e33333;
    cursor: pointer;
}
/*右下绝对定位*/
.right-msg{
    position: fixed;
    right: 0;
    top: 25%;
    color: white;
}
.r-heixian{
    height: 1000px;
    border-right: 4px solid #7a6e6e;
    position: relative;
    top:-420px;
    z-index: 3;
}
.right-msg i{
    display:inline-block;
    width: 38px;
    height: 32px;
    background-image: url(../img/2.png);
    background-color: #7a6e6e;
    position: relative;
    left: 56px;
    top: -32px;
}

.r1:hover>span{
    background-color: #b61d1d;
    left: 0;
    transition: left 1s;
}
.r1:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
.right-msg span{
    height: 32px;
    width: 60px;
    text-align: center;
    display: inline-block;
    float: left;
    line-height: 32px;
    background-color: #7a6e6e;
    position: relative;
    left: 57px;
}
.right-msg div{
    height: 32px;
    margin-bottom: 2px;
}
.r-hy2{
    background-position: -85px -174px;
}
.r2 i{
    background-position: -47px -1px;
}
.r3 i{
    background-position: -45px -50px;
}
.r4 i{
    background-position: -184px -151px;
}
.r5 i{
    background-position: -44px -150px;
}
.r6 i{
    background-position: -42px -302px;
}
.r7 i{
    background-position: -45px -250px;
}
.r7{
    position: fixed;
    bottom: -34px;
    right: 60px;
}
.r7 span{
    bottom: 32px;
    left: 154px;
}

.r2:hover>span{
    background-color: #b61d1d;
    left: 0;
    transition: left 1s;
}
.r2:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
.r3:hover>span{
    background-color: #b61d1d;
    left: 0;
    transition: left 1s;
}
.r3:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
.r4:hover>span{
    background-color: #b61d1d;
    left: 0;
    transition: left 1s;
}
.r4:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
.r5:hover>span{
    background-color: #b61d1d;
    left: 0;
    transition: left 1s;
}
.r5:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
.r6:hover>span{
    background-color: #b61d1d;
    left: 0;
    transition: left 1s;
}
.r6:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
.r7:hover>span{
    background-color: #b61d1d;
    left: 56px;
    transition: left 1s;
}
.r7:hover>i{
    background-color: #b61d1d;
    transition: 0.5s;
}
/*左上定位*/
.left-msg{
    position: absolute;
    top: 170px;
    left: -81px;
    width: 280px;
}
.left-msg-img1{
    height: 524px;
    position: relative;
    z-index: 3;
}
.left-msg-img2{
    position: relative;
    left: -1082px;
    top: 0;
    height: 524px;
    z-index:100;

}
.left-msg:hover{
    width: 1170px;
}
.left-msg:hover >.left-msg-img2{
    left: -3px;
    transition: left 1s;
}

/*登录页面*/
.login-header{
    width: 1000px;
    margin: auto;
    margin-top: 15px;
}
.noquestionnaire span{
    font-size: 25px;
    color: #000000ad;
    position: relative;
    top: -10px;
    left: 36px;
}
.questionnaire{
    margin-top: 43px;
}
.questionnaire:hover{
    cursor: pointer;
    color: #b61d1d;
    text-decoration: underline;
}
.content1{
    background-color: #fff8f0;
    height: 40px;
}
.content1 p{
    text-align: center;
    line-height: 40px;
}
.content1 p b{
    color: black;
}
.content1 p b:hover{
    cursor: pointer;
    text-decoration: underline;
}
.tb{
    background-image:url(../img/login2.png);
    height: 16px;
    width: 16px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.foot-bottom{
    text-align: center;
    margin-bottom: 50px;
}
.content2{
    background-color: #134BA8;
    margin-bottom: 20px;
    height: 475px;
}
.content2-1{
    width: 1050px;
    margin: auto;
}
.content2-2{
    width: 330px;
    position: absolute;
    top: 135px;
    right: 300px;
    background-color: white;
}
.tab1{
    font-size: 20px;
    color: black;
    padding: 15px 0;
    border-bottom: 1px solid #8080803b;
}
.tab1 span{
    padding: 0 40px;
}
.tab1 span:hover{
    font-weight: bolder;
    cursor: pointer;
    color: #b61d1d;
}
.tab1 span:nth-child(1){
    border-right:1px solid #8080803b;
}

.tab2-sj{
    display:none;
    width: 137px;
    padding-left: 10px;
}
.tab2-ewm{
    padding: 10px;
    border: 1px solid #8080803b;
    width: 135px;
    margin-left: 73px;
}
.tab2:hover>.tab2-ewm{
    cursor: pointer;
    margin-left: 0;
    transition:0.5s;
}
.tab2:hover>.tab2-sj{
    display: inline;
    transition-delay: all 0.6s;
}
.tab2{
    margin: 20px 10px;
    height: 161px;
    overflow: hidden;
}
.tab3{
    padding-bottom: 25px;
}
.tab3 p{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    text-align: center;
    padding-bottom: 15px;
}
.tab3 p b{
    cursor: pointer;
    color: #b61d1d;
}
.tab3 ul{
    width: 240px;
    margin: auto;
}
.tab3 ul li{
    line-height: 29px;
}
.tab3 ul li i{
    display: inline-block;
    background-image: url(../img/3.png);
    width: 25px;
    height: 25px;
    margin: 0px 5px 0 18px;
    position: relative;
    top:5px;
}
.tab3 ul li:nth-child(2) i{
    background-position: 53px;
}
.tab3 ul li:nth-child(3) i{
    background-position: 106px;
}
.tab4{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    padding: 20px 15px;
    border-top: 1px solid #8080803b;
}
.tab4 span i{
    display: inline-block;
    background-image: url(../img/4.png);
    width: 20px;
    height: 18px;
    position: relative;
    top:3px;
}
.wechat{
    background-position: 20px;
}
.tab4 b{
    color: #cccccc;
}
.tab4 span{
    padding:0 5px;
}
.tab4 span:hover{
    color: #b61d1d;
    text-decoration: underline;
    cursor: pointer;
}
.ljzc{
    font-size: 14px;
    color: #b61d1d;
}
.ljzc em{
    background-image: url(../img/5.png);
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: 18px 101px;
    position: relative;
    top:4px
}
.tab5{
    padding: 20px 20px 30px;
    display: none;
}
.tab5 label{
    display: inline-block;
    background-image: url(../img/5.png);
    width: 38px;
    height: 38px;
    margin-top: 20px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
}
.tab5-label2{
    background-position: 73px 0;
}
.tab5 input{
    width: 228px;
    height: 36px;
    position: relative;
    padding-left: 15px;
}
.usermsg{
    top: -16px;
    right: 4px;
}
.passwordmsg{
    top: -15px;
    right: 4px;
}
.forgetpassword{
    color: #28271c;
}
.forgetpassword:hover{
    color: #b61d1d;
    text-decoration: underline;
    cursor:pointer;
}
.tab5 button{
    width: 286px;
    height: 40px;
    font-size: 21px;
    background-color: #e4393c;
    color:white;
    border: none;
    margin-top: 29px;
}
.wx-ewm{
    position: absolute;
    top: 39px;
    left: 400px;
    background: black;
    display: none;
}
.wx-ewm h2{
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.wx-ewm2{
    background-color: gray;
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 20px 88px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px seashell;
}
.wx-ewm i{
    display: inline-block;
    width: 25px;
    height: 28px;
    background-image: url(../img/5.png);
    position: relative;
    left: 100px;
    top: -8px;
    background-position: -18px 37px;
}
/*注册、找回密码页面*/
.nr-login{
    border: 1px solid #cccccc;
    background-color: #b61d1d;
    padding: 20px 0;
}
.nr-login>.content2-2{
    position: static;
    margin: auto;
    background-color: white;
}
.tab5-label3{
    background-position:72px -96px;
}
.passwordmsg2{
    top:-16px;
}
.tab1-login{
    text-align: center;
}
.tab5 p{
    color: #b61d1d;
    visibility: hidden;
}
/*购物车*/
.shopcar-nr{
    width: 990px;
    margin: auto;
    background-color:white;
}